<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--    导航-->
<nav th:replace="_fragments :: menu(1)">
</nav>

<!--content-->
<div class="m-padded-tb-large m-container">
    <div class="ui container m-container-small">
        <!--stackable适配手机端 堆叠-->
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">blog</h3>
                        </div>
                        <div class="right aligned column ">
                            <!--m-inline-block解决了展示是列的问题-->
                            共 <h3 class="ui orange header m-inline-block" th:text="${page.totalPages}"></h3> 篇
                        </div>
                    </div>
                </div>
                <!--                content-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment m-padded-tb-big" th:each="blog : ${page.content}">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <div class="ui header"><a href="#" class="m-black"
                                                          th:href="@{/blog/{id}(id=${blog.id})}" target="_black"
                                                          th:text="${blog.title}">JQuery</a></div>
                                <p class="m-text-lined" th:text="|${blog.description}...|"></p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list">
                                            <div class="item">
                                                <img th:src="@{${blog.user.avatar}}" alt=""
                                                     class="ui center avatar image picture-size"  style="max-width: 100px; !important;">
                                                <!--图片后接文字class=“content”-->
                                                <div class="content"><a href="" class="header"
                                                                        th:text="${blog.user.nickname}">wzy</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i><span
                                                    th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2000-11-15</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon" th:text="${blog.views}">123</i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" class="ui label" th:text="${blog.type.name}">认知升级</a>
                                    </div>
                                </div>

                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank" th:href="@{/blog/{id}(id=${blog.id})}">
                                    <img src="https://unsplash.it/400/400?image=1005" th:src="@{${blog.firstPicture}}"
                                         class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                footer-->
                <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <div th:href="@{/(page=${page.number}-1)}"
                                 th:unless="${page.first}" class="ui teal mini basic button">上一页
                            </div>
                        </div>
                        <div class="right aligned column ">
                            <div th:href="@{/(page=${page.number}+1)}"
                                 th:unless="${page.last}" class="ui teal mini button">下一页
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--右边的内容-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <!--在此布局中是将segment编程灰色-->
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="" th:href="@{/types/-1}">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- teal会让两个segment之间有条绿色的线-->
                    <div class="ui teal segment">
                        <!--verticals竖直的menu fluid填充外层容器-->
                        <div class="ui fluid vertical menu">
                            <!--item会使label和icon居右，文字居左-->
                            <a th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item"
                               th:each="type : ${types}">
                                <span th:text="${type.name}"></span>
                                <div class="ui teal left pointing label" th:text="${#arrays.length(type.blogs)}">13
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments m-margin-top-big">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a th:href="@{/tags/-1}">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" th:each="tag : ${tags}"
                           class="ui teal basic left pointing label m-margin-tb-tiny">
                            <span th:text="${tag.name}"></span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">10</div>
                        </a>
                    </div>
                </div>
                <div class="ui segments m-margin-top-big">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlog}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"><span
                                th:text="${blog.title}">用户故事</span></a>
                    </div>
                </div>
                <!--二维码-->
                <!--divider实现扫码关注旁边的两条线-->
                <h4 class="ui horizontal divider header">扫码关注</h4>
                <div class="ui card">
                    <img th:src="@{/images/QQ图片20201115203555.png}" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>

</div>


<!--页脚-->
<footer th:replace="/_fragments :: footer"></footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->

<!--/*/</th:block>/*/-->

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="https:cdn.jsdelivr.net/semantic-ui/2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    })


</script>
</body>
</html>